@using MvcTravelProje.Models.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Blog Listesi</h2>
<br />

<a style="margin-bottom:20px" href="/Admin/YeniBlog/" class="btn btn-primary">Yeni Blog Ekle</a>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>BAŞLIK</th>
            <th>YAZILIŞ TARİHİ</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
            <th>DETAYLAR</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ID</td>
                <td>@x.Baslik</td>
                <td>@Convert.ToDateTime(x.Tarih).ToString("dd/MM/yyyy")</td>
                <td>@Html.ActionLink("SİL","BlogSil", new {id = x.ID }, new {@class="btn btn-danger", onclick="return confirm('Gerçekten silmek istiyor musunuz?')" })</td>
                <td><a href="/Admin/BlogGetir/@x.ID" class="btn btn-success">GÜNCELLE</a></td>
                <td><a href="/Admin/BlogDetay/@x.ID" class="btn btn-warning">DETAYLAR</a></td>
            </tr>
        }
    </tbody>
</table>


